* {
  box-sizing: border-box;
}


body {
    font-family: "Roboto", helvetica, sans-serif;
    padding: 60px 0 0;
    color: black;
    font-size: 12px;
    background-color: rgb(175, 228, 241);

  }

.bookmark-list {
  margin: 0 auto;
  width: 50%;
  list-style-type: none;
}

.bookmark-item-expanded{
    border: solid black 2px;
    border-radius:5px;
    background-color: rgb(132, 215, 253);
    margin-bottom: 2px;
    height: 150px;
    margin: 20px auto 20px;
}


.add-button-holder{
  font-size: 25px;

}

#add-bookmark-form{
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 10px;
}


.bookmark-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px
}
.hiddenformForm legend {
    width: 70%;
    height: auto;
    line-height: 20px;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
    margin: 0 auto 40px;
  }


h1{
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    font-size: 60px;
    color: black;
    margin: 20px 0 0 0;
}


.hiddenformForm {
    width: 480px;
    height: 380px;
    background:  rgb(132, 215, 253);
    margin: 0 auto;
  }
/* .hiddenformForm.hidden {
  display: none;
}
.hiddenformForm.active {
  display: block;
}   */
p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

input[name="title-entry"],
input[name="url"],
input[name="Description"],
input[name="rating-entry"] {
  display: block;
  width: 50%;
  height: auto;
  font-size: 15px;
  text-align: center;
  padding-top: 0px;
  background: #fcfcfc;
  margin: 10px auto 10px;
}


button[type="submit"] {
  height: auto;
  font-size: 18px;
  text-align: center;
  color: rgb(12, 7, 7);
   border: solid black 2px;
  cursor: pointer;
  margin-bottom: 60;

}

.checked {
    color: orange;
}

.h2-title {
  cursor: pointer;
}

._class{
  display: none;
}

.bookmark-hidden-area.active {
  display: block;
}

.bookmark-hidden-area {
  display: none;
}

.centered {
  text-align: center;
}
